*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    body{
        header{
            background-color: #1E1637;
            width: 7%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                width: 70%;
                margin: 8px;
                figure{
                    img{
                        width: 100%;
                    }
                }

            }

            nav{
                display: flex;
                justify-content: center;

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li{
                        margin: 17px 0;

                        a{
                            color: white;
                            text-decoration: none;
                            font-size: x-large;

                            &:hover{
                                color: #6a9f91;
                            }
                        }
                    }
                }
            }
        }

        main, footer{
            padding-left: 118px;
        }

        main{

            .posts, .listCategories{
                height: 66vh;
            }

            form{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 30px;
                position: relative;
                margin-bottom: 15px;

                .fa-solid{
                    position: absolute;
                    right: 109px;
                    color: #757575;
                }

                input[type= "search" i]{
                    width: 84%;
                    padding: 12px;
                    border-radius: 10px;   
                    border: 2px solid #363979;
                }
            }

            .posts{
                display: flex;
                flex-direction: column;
                align-items: center;

                article{
                    background-color: rgba(54, 57, 121, 0.3);
                    border-radius: 10px;
                    padding: 15px;
                    width: 84%;
                    margin-top: 25px;

                    .authorInfo{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 21px;

                        figure{
                            width: 5%;
                            margin-right: 11px;

                            img{
                                width: 100%;
                                border-radius: 100%;
                                
                            }
                        }

                        a{
                            font-weight: 100;

                        }
                    }

                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                    }
                }
            }

            h1{
                text-align: center;
                margin-bottom: 40px;
                padding-top: 35px;
            }

            .listCategories{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;

                a{
                    color: black;
                    font-weight: bold;
                    text-decoration: none;
                    width: 34%;

                    .category{
                        background: linear-gradient(146deg, rgb(21, 45, 195) 0%, rgb(148, 21, 42) 100%);
                        text-align: center;
                        border-radius: 10px;
                        padding: 65px;
                        margin-bottom: 35px;
                        
                    }
                }
            }
        }

        footer{
            background-color: #1E1637;
            width: 100%;
            margin-top: 46px;

            ul{
                display: flex;
                flex-direction: row;
                width: 100%;
                list-style: none;
                justify-content: center;

                li{
                    margin: 23px;
                    
                    a{
                        text-decoration: none;
                        color: white;

                        &:hover{
                            color: #6a9f91;
                        }
                    }
                }
            }
        }
    }
}

